# git config --list
[init]
    defaultBranch = main
    # git config --global init.defaultBranch main

[gui]
	encoding = utf-8
[user]
	name = Du Dang
	email = hotmit@gmail.com
[i18n]
	filesEncoding = utf-8
[push]
	default = current
[pull]
	default = current
	# --ff-only
	ff = only

[alias]
	i   = init
	st  = status
	ac  = commit -am
	cmm = commit -m
	cmi = commit -m "init commit"
	br  = branch
	rh  = reset --hard HEAD

	rv  = remote -v
	rsu = remote set-url
	rao = remote add origin
	rr  = remote remove
	rrn = remote rename

	fo  = fetch origin
	fa  = fetch --all

    aa  = add -A
	af  = add --force

    # set all m - command default to main, and switch ma command to mm
	co  = checkout
	com = checkout main
	comm = checkout master
	cod = checkout develop
	cos = checkout staging

    po  = pull origin
	pom = pull origin main
	pomm = pull origin master
	pod = pull origin develop
	pos = pull origin staging

    ppt = push --tags
	pp  = push
	ppo = push origin
	ppom = push origin main
	ppomm = push origin master
	ppod = push origin develop
	ppos = push origin staging

	# pretty log, src: https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	myn = config user.name "Du Dang"
	mye = config user.email "hotmit@gmail.com"
